* {
    box-sizing: border-box;
    margin: 0;
    scroll-behavior: smooth;

    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    color: white;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
}

a:hover {
    text-decoration: none;
}

table td b {
    font-weight: bold;
}

.like {
    font-weight: bold;
}

.like_button {
    content: url(../assets/img/heart_black.png);
    width: 48px;
}

.like_button:hover {
    cursor: pointer;
}

.like_button_pressed {
    content: url(../assets/img/heart_red.png);
    width: 48px;
}

.like_button_pressed:hover {
    cursor: pointer;
}

input {
    background-color: #167091;
    border: 0;
    border-bottom: 2px solid #1C8ADB;
    width: 100%;
    color: white;
}

.send_button {
    content: url(../assets/img/paper-airplane-1513032_1280.png);
    width: 36px;
}

.send_button:hover {
    cursor: pointer;
}


@media (max-width: 600px) {

    .header_container h1 {
        display: none;
    }

    .header_container h4 {
        display: none;
    }

}